<div class="container-fluid">
  <p-table #dt [columns]="cols" [value]="users" [responsive]="true" [resizableColumns]="true" columnResizeMode="expand" selectionMode="single"
    [(selection)]="selected" (onRowSelect)="edit(selected)" [paginator]="true" [rows]="15">
    <ng-template pTemplate="caption">
      <div class="ui-helper-clearfix">
        <button type="button" pButton icon="fa-file-o" iconPos="left" label="All Data" (click)="dt.exportCSV()" style="float:left"></button>
        <button type="button" pButton icon="fa-file" iconPos="left" label="Selection Only" (click)="dt.exportCSV({selectionOnly:true})"
          style="float:right"></button>
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input type="text" pInputText size="80" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')"
          style="width:auto">
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>Index</th>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>
          <p-dropdown [options]="options" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, 'teacher', 'equals')"></p-dropdown>
        </th>
        <th>
          <p-dropdown [options]="options" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, 'admin', 'equals')"></p-dropdown>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="cols" let-rowIndex="rowIndex">
      <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
        <td>{{rowIndex + 1}}</td>
        <td *ngFor="let col of cols">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
      <div style="text-align: left">
        <button type="button" pButton icon="fa-plus" (click)="createNew($event)" label="New User"></button>
      </div>
    </ng-template>
  </p-table>
  <p-dialog header="User Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="300">
    <div class="ui-g ui-fluid" *ngIf="selected">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="username">Username</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="username" [(ngModel)]="selected.username" />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="name">Name</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="name" [(ngModel)]="selected.name" />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="surname">Surname</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="surname" [(ngModel)]="selected.surname" />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="email">Email</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="email" [(ngModel)]="selected.email" />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="teacher">Teacher</label>
        </div>
        <div class="ui-g-8">
          <p-checkbox id="teacher" binary="true" [(ngModel)]="selected.teacher"></p-checkbox>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="admin">Admin</label>
        </div>
        <div class="ui-g-8">
          <p-checkbox id="admin" binary="true" [(ngModel)]="selected.admin"></p-checkbox>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fa-close" (click)="deleteUser()" label="Delete"></button>
        <button type="button" pButton icon="fa-check" (click)="updateUser()" label="Save"></button>
      </div>
    </p-footer>
  </p-dialog>
</div>
