<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <table class="table table-hover table-responsive-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Subject Name</th>
            <th scope="col">Teacher name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let subject of subjects; let i = index" [ngClass]="{'table-active': selected == subject}" (click)="select(subject)">
            <th scope="row">{{i+1}}</th>
            <td>{{subject.name}}</td>
            <td>{{subject.teacher.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <div class="container" style="padding: 0px 50px 0px 50px">
        <div style="padding: 0px 0px 50px 0px">
          <button class="btn btn-success" (click)="createNew($event)">Nowy przedmiot</button>
        </div>
        <div [ngSwitch]="mode">
          <div *ngSwitchDefault>
          </div>
          <div class="card" *ngSwitchCase="'selected'" style="padding: 50px 30px 50px 30px">
            <div class="card-block">
              <h4 class="card-title text-center">Wybrany przemiot</h4>
              <p class="card-text text-center">
                <strong>{{selected.name}}</strong>
              </p>
              <div class="form-group text-center">
                <button class="btn btn-default" (click)="edit(selected)">Edytuj</button>
              </div>
            </div>
          </div>
          <div class="card" *ngSwitchCase="'edit'" style="padding: 50px 30px 50px 30px">
            <div class="card-block">
              <h4 class="card-tittle text-center">Przemiot</h4>
              <p class="card-text text-center">Szczegóły</p>
            </div>
            <div class="form-group">
              <label>Name:</label>
              <input class="form-control" placeholder="Wpisz nazwe" type="text" [(ngModel)]="selected.name" required autofocus>
            </div>
            <div class="form-group">
              <label>Teacher:</label>
              <select class="form-control" [(ngModel)]="selected.teacher">
                <ng-container *ngFor="let user of users">
                  <option *ngIf="user.teacher" [ngValue]="user">
                    {{user.name}}
                  </option>
                </ng-container>
              </select>
            </div>
            <div class="form-group">
              <button class="btn btn-info float-right" (click)="updateSubject()">Zapisz</button>
              <button class="btn btn-danger float-center" (click)="deleteSubject()">Usuń</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
