<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <table class="table table-hover table-responsive-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">User</th>
            <th scope="col">Room</th>
            <th scope="col">Subject</th>
            <th scope="col">Start date</th>
            <th scope="col">End date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reservation of reservations; let i = index" [ngClass]="{'table-active': selected == reservation}" (click)="select(reservation)">
            <th scope="row">{{i+1}}</th>
            <td>{{reservation.description}}</td>
            <td>{{reservation.user.name}}</td>
            <td>{{reservation.room.name}}</td>
            <td>{{reservation.subject.name}}</td>
            <td>{{reservation.startDate | date: 'medium'}}</td>
            <td>{{reservation.endDate | date: 'medium'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <div class="container fluid" style="padding: 0px 50px 0px 0px">
        <div style="padding: 0px 0px 50px 0px">
          <button class="btn btn-info" (click)="createNew($event)">Nowa rezerwacja</button>
        </div>
        <div [ngSwitch]="mode">
          <div *ngSwitchDefault>
          </div>
          <div class="card" *ngSwitchCase="'selected'" style="padding: 50px 30px 50px 30px">
            <div class="card-block">
              <h4 class="card-title text-center">Wybrany pokój</h4>
              <p class="card-text text-center">
                <strong>{{selected.user.name}}</strong>
              </p>
              <div class="form-group text-center">
                <button class="btn btn-default" (click)="edit(selected)">Edytuj</button>
              </div>
              <div class="form-group text-center">
                <button class="btn btn-warning" (click)="requestReservation(selected)">Zmiana rezerwacji</button>
              </div>
            </div>
          </div>
          <div class="card" *ngSwitchCase="'edit'" style="padding: 50px 30px 50px 30px">
            <div class="card-block">
              <h4 class="card-tittle text-center">Rezerwacja</h4>
              <p class="card-text text-center">Szczegóły</p>
            </div>
            <div class="form-group">
              <label>Title:</label>
              <input class="form-control" placeholder="description" type="text" [(ngModel)]="selected.description" required autofocus>
            </div>
            <div class="form-group" *ngIf="admin">
              <label>User:</label>
              <select class="form-control" [(ngModel)]="selected.user">
                <option *ngFor="let user of users" [ngValue]="user">{{user.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Room:</label>
              <select class="form-control" [(ngModel)]="selected.room">
                <option *ngFor="let room of rooms" [ngValue]="room">{{room.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Subject:</label>
              <select class="form-control" [(ngModel)]="selected.subject">
                <option *ngFor="let subject of subjects" [ngValue]="subject">{{subject.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Start Date:</label>
              <input class="form-control" type="datetime-local" datetime="medium" datetime-model="yyyy-MM-dd HH:mm:ss" [(ngModel)]="selected.startDate"
                (ngModelChange)="removeGMT(selected.startDate)" required autofocus>
            </div>
            <div class="form-group">
              <label>End Date:</label>
              <input class="form-control" type="datetime-local" [(ngModel)]="selected.endDate" bindTimestamp id="exampleInput" required
                autofocus>
            </div>
            <div class="form-group" *ngIf="displayCycle">
              <div class="slidecontainer">
                <label>Cycle: {{cycle}} </label>
                <p-slider [(ngModel)]="cycle" [min]="1" [max]="100" [animate]="true" [style]="{'width':'auto'}"></p-slider>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-success float-right" (click)="createReservation()" *ngIf="displayCycle">Zapisz</button>
              <button class="btn btn-success float-right" (click)="updateReservation()" *ngIf="!displayCycle">Update</button>
              <button class="btn btn-danger float-center" (click)="deleteReservation()">Usuń</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
