.main-body {
  background: #ffffff;
  position: fixed;
  max-height: 100%;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  padding-top: 100px;
  padding-left: 30px;
  display: block;
}
