<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav class="navbar navbar-dark fixed-top py-0 bg-dark navbar-expand-lg py-md-0">
  <a class="navbar-brand" [routerLink]="['main']">
    <i class="material-icons">home</i>
  </a>
  <button class="navbar-toggler mt-1" type="button" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars"></i>
  </button>
  <div class=" navbar-collapse collapse" id="navbarNav">
    <ul class=" navbar-nav mr-auto">
      <li class="nav-item py-0">
        <a class="nav-link" [routerLink]="['reservations/all']" [routerLinkActive]="'active'">Rezerwacje</a>
      </li>
      <li class="nav-item py-0">
        <a class="nav-link" [routerLink]="['rooms/all']" [routerLinkActive]="'active'">Pokoje</a>
      </li>
      <li class="nav-item py-0">
        <a class="nav-link" [routerLink]="['users/all']" [routerLinkActive]="'active'" *ngIf="admin">Użytkownicy</a>
      </li>
      <li class="nav-item py-0">
        <a class="nav-link" [routerLink]="['subjects/all']" [routerLinkActive]="'active'">Przedmioty</a>
      </li>
      <li class="nav-item py-0">
        <a class="nav-link" [routerLink]="['events/all']" [routerLinkActive]="'active'">Wydarzenia</a>
      </li>
      <li class="nav-item py-0">
        <a class="nav-link" [routerLink]="['observableRoom/all']" [routerLinkActive]="'active'">Moje Obserwacje</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li *ngIf="!isUserLogged()" [routerLinkActive]="'active'" style="color: white">
        <a class="nav-link" [routerLink]="['login']" [routerLinkActive]="'active'">Login</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li *ngIf="isUserLogged()" style="color: white; padding-top: 8px">
        <a>Logged as: {{getCurrentUsername()}}</a>
      </li>
      <li style="color: white">
        <a *ngIf="isUserLogged()" class="nav-link" (click)="logout()" [routerLinkActive]="'active'">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container" style="margin-top:50px">
  <router-outlet> </router-outlet>
</div>
