<div class="container">
  <form class="form-horizontal" #form="ngForm" (ngSubmit)="authenticate(form.value)">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h2>Please Login</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="form-group has-danger">
          <label class="sr-only" for="username">Username</label>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem">
              <i class="fa fa-user"></i>
            </div>
            <input class="form-control" placeholder="Username" type="text" name="username" ngModel required autofocus>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-control-feedback">
          <span class="text-danger align-middle">
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="sr-only" for="password">Password</label>
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem">
              <i class="fa fa-key"></i>
            </div>
            <input class="form-control" placeholder="Password" type="password" name="password" ngModel required>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-control-feedback">
          <span class="text-danger align-middle">
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6" style="padding-top: .35rem">
        <div class="form-check mb-2 mr-sm-2 mb-sm-0">
          <label class="form-check-label">
            <input class="form-check-input" name="remember" type="checkbox">
            <span style="padding-bottom: .15rem">Remember me</span>
          </label>
        </div>
      </div>
    </div>
    <div class="row" style="padding-top: 1rem">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <button type="submit" value="Login" class="btn btn-success">
          <i class="fa fa-sign-in"></i> Login</button>
        <a class="btn btn-link" routerLink="/register">Create account</a>
      </div>
    </div>
  </form>
</div>
