<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <table class="table table-hover table-responsive-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Room</th>
            <th scope="col">Start date</th>
            <th scope="col">End date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let observableRoom of observableRooms; let i = index" [ngClass]="{'table-active': selected == observableRoom}"
            (click)="select(observableRoom)">
            <th scope="row">{{i+1}}</th>
            <td>{{observableRoom.room.name}}</td>
            <td>{{observableRoom.startDate | date: 'medium'}}</td>
            <td>{{observableRoom.endDate | date: 'medium'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <div class="container fluid" style="padding: 0px 50px 0px 0px">
        <div style="padding: 0px 0px 50px 0px">
          <button class="btn btn-info" (click)="createNew($event)">Nowa obserwacja</button>
        </div>
        <div [ngSwitch]="mode">
          <div *ngSwitchDefault>
          </div>
          <div class="card" *ngSwitchCase="'selected'" style="padding: 50px 30px 50px 30px">
            <div class="card-block">
              <h4 class="card-title text-center">Wybrana obserwacja</h4>
              <p class="card-text text-center">
                <strong>{{selected.user.name}}</strong>
              </p>
              <div class="form-group text-center">
                <button class="btn btn-default" (click)="edit(selected)">Edytuj</button>
              </div>
            </div>
          </div>
          <div class="card" *ngSwitchCase="'edit'" style="padding: 50px 30px 50px 30px">

            <div class="card-block">
              <h4 class="card-tittle text-center">Obserwacja</h4>
              <p class="card-text text-center">Szczegóły</p>
            </div>
            <div class="form-group">
              <label>Room:</label>
              <select class="form-control" [(ngModel)]="selected.room">
                <option *ngFor="let room of rooms" [ngValue]="room">{{room.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Start Date:</label>
              <input class="form-control" type="datetime-local" datetime="medium" datetime-model="yyyy-MM-dd HH:mm:ss" [(ngModel)]="selected.startDate"
                (ngModelChange)="removeGMT(selected.startDate)" required autofocus>
            </div>

            <div class="form-group">
              <label>End Date:</label>
              <input class="form-control" type="datetime-local" [(ngModel)]="selected.endDate" bindTimestamp id="exampleInput" required
                autofocus>
            </div>
            <div class="form-group">
              <button class="btn btn-success float-right" (click)="createObservableRoom()">Zapisz</button>
              <button class="btn btn-success float-right" (click)="updateObservableRoom()">Update</button>
              <button class="btn btn-danger float-center" (click)="deleteObservableRoom()">Usuń</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
