<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <table class="table table-hover table-responsive-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Floor</th>
            <th scope="col">Room Name</th>
            <th scope="col">Number of Seats</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let room of rooms; let i = index" [ngClass]="{'table-active': selected == room}" (click)="select(room)">
            <th scope="row">{{i+1}}</th>
            <td>{{room.floor}}</td>
            <td>{{room.name}}</td>
            <td>{{room.numberOfSeats}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <div class="container" style="padding: 0px 50px 0px 50px">
        <div style="padding: 0px 0px 50px 0px">
          <button class="btn btn-success" (click)="createNew($event)">Nowy pokój</button>
        </div>

        <div [ngSwitch]="mode">
          <div *ngSwitchDefault>
          </div>

          <div class="card" *ngSwitchCase="'selected'" style="padding: 50px 30px 50px 30px">
            <div class="card-block">
              <h4 class="card-title text-center">Wybrany pokój</h4>
              <p class="card-text text-center">
                <strong>{{selected.name}}</strong>
              </p>
              <div class="form-group text-center">
                <button class="btn btn-default" (click)="edit(selected)">Edytuj</button>
              </div>
            </div>
          </div>
          <div class="card" *ngSwitchCase="'edit'" style="padding: 50px 30px 50px 30px">
            <div class="card-block">
              <h4 class="card-tittle text-center">Pokój</h4>
              <p class="card-text text-center">Szczegóły</p>
            </div>
            <div class="form-group">
              <label>Name:</label>
              <input class="form-control" placeholder="Wpisz nazwe" type="text" [(ngModel)]="selected.name">
            </div>
            <div class="form-group">
              <label>Floor:</label>
              <input class="form-control" placeholder="Wpisz pietro" type="number" [(ngModel)]="selected.floor">
            </div>
            <div class="form-group">
              <label>Number of seats:</label>
              <input class="form-control" placeholder="Wpisz ilosc miejsc" type="number" [(ngModel)]="selected.numberOfSeats">
            </div>
            <div class="form-group">
              <button class="btn btn-info float-right" (click)="updateRoom()">Zapisz</button>
              <button class="btn btn-danger float-center" (click)="deleteRoom()">Usuń</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
