<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <table class="table table-hover table-responsive-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Date</th>
            <th scope="col">Header</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let happening of happenings; let i = index" [ngClass]="{'table-active': selected == happening}" (click)="select(happening)">
            <th scope="row">{{i+1}}</th>
            <td>{{happening.user.name}}</td>
            <td>{{happening.date | date: 'medium'}}</td>
            <td>{{happening.header}}</td>
            <td>{{happening.description}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <div class="container fluid" style="padding: 0px 50px 0px 0px">
        <div style="padding: 0px 0px 50px 0px">
          <button class="btn btn-info" (click)="createNew($event)">Nowe wydarzenie</button>
        </div>
        <div [ngSwitch]="mode">
          <div *ngSwitchDefault>
          </div>
          <div class="card" *ngSwitchCase="'selected'" style="padding: 50px 30px 50px 30px">
            <div class="card-block">
              <h4 class="card-title text-center">Wybrany pokój</h4>
              <p class="card-text text-center">
                <strong>{{selected.user.name}}</strong>
              </p>
              <div class="form-group text-center">
                <button class="btn btn-default" (click)="edit(selected)">Edytuj</button>
              </div>
            </div>
          </div>
          <div class="card" *ngSwitchCase="'edit'" style="padding: 50px 30px 50px 30px">
            <div class="card-block">
              <h4 class="card-tittle text-center">Wydarzenie</h4>
              <p class="card-text text-center">Szczegóły</p>
            </div>
            <div class="form-group">
              <label>Header:</label>
              <input class="form-control" placeholder="header" type="text" [(ngModel)]="selected.header" required autofocus>
            </div>
            <div class="form-group">
              <label>Description:</label>
              <input class="form-control" placeholder="description" type="text" [(ngModel)]="selected.description" required autofocus>
            </div>
            <div class="form-group">
              <label>Start Date:</label>
              <input class="form-control" type="datetime-local" datetime="medium" datetime-model="yyyy-MM-dd HH:mm:ss" [(ngModel)]="selected.date"
                (ngModelChange)="removeGMT(selected.date)" required autofocus>
            </div>
            <div class="form-group">
              <button class="btn btn-success float-right" (click)="createHappening()" *ngIf="display">Zapisz</button>
              <button class="btn btn-success float-right" (click)="updateHappening()" *ngIf="!display">Update</button>
              <button class="btn btn-danger float-center" (click)="deleteHappening()">Usuń</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
