<div class="container-fluid">
  <div class="row">
    <div class="form-group">
      <label>Room:</label>
      <select class="form-control" [(ngModel)]="room" (change)="roomChanged()">
        <option *ngFor="let room of rooms" [ngValue]="room">{{room.name}}</option>
      </select>
    </div>
    <p-schedule defaultView="agendaWeek" height="auto" [events]="events" (onViewRender)="loadEvents($event)" [header]="headerConfig"
      [timezone]="true"></p-schedule>
  </div>
</div>
